<!--The content below is only a placeholder and can be replaced.-->
<form style="text-align: center;">
  <h3 style="margin-bottom: 5%">Input masking playground!</h3>
  <div class="container">
    <div class="ShortDate">
      <label for="ShortDate">Short Date</label>
      <br />
      <input appMask MaskType="shortDate" formControlName="ShortDate" (unmasked)="checkUnmasked($event)">
    </div>
    <div class="LongDate">
      <label for="LongDate">Long Date</label>
      <br />
      <input appMask MaskType="longDate" type="text" formControlName="LongDate" (unmasked)="checkUnmasked($event)">
    </div>
    <div class="ShortZipCode">
      <label for="ShortZipCode">Short Zip Code</label>
      <br />
      <input appMask MaskType="shortZipCode" type="text" formControlName="ShortZipCode"
        (unmasked)="checkUnmasked($event)">
    </div>
    <div class="LongZipCode">
      <label for="LongZipCode">Long Zip Code</label>
      <br />
      <input appMask MaskType="longZipCode" type="text" formControlName="LongZipCode"
        (unmasked)="checkUnmasked($event)">
    </div>
    <div class="PhoneNumber">
      <label for="PhoneNumber">Phone Number</label>
      <br />
      <input appMask MaskType="phoneNumber" type="text" formControlName="PhoneNumber"
        (unmasked)="checkUnmasked($event)">
    </div>
    <div class="SSN">
      <label for="SocialSecurityNumber">Social Security Number</label>
      <br />
      <input appMask MaskType="ssn" type="text" formControlName="SocialSecurityNumber"
        (unmasked)="checkUnmasked($event)">
    </div>
    <div class="CardNumber">
      <label for="CardNumber">CardNumber</label>
      <br />
      <input appMask MaskType="cardNumber" type="text" formControlName="CardNumber" (unmasked)="checkUnmasked($event)">
    </div>
    <div class="CVV">
      <label for="CVV">CVV</label>
      <br />
      <input appMask MaskType="cvv" type="text" formControlName="CVV" (unmasked)="checkUnmasked($event)">
    </div>
    <div class="DollarAmount">
      <label for="DollarAmount">Dollar Amount</label>
      <br />
      <input appMask MaskType="dollarAmount" type="text" formControlName="DollarAmount"
        (unmasked)="checkUnmasked($event)">
    </div>
  </div>
</form>